doctype html
html
  head
    meta(charset='utf-8' name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    meta(http-equiv="refresh" content="120")
    link(href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="//cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/default.css" rel="stylesheet")
    style(type="text/css").
      .alarm {color:red; font-weight: bold;  font-size: 16px;}
      h2 {color: #0066cc;font-size: 32px;}
  body
      mixin card(title, info, ...heads)
        div(class="card")
          div(id="top10miners" class="table-responsive")
            h2= title
            table(class="table table table-striped")
              thead
                tr
                  each item in heads
                    th(class="col2 sort")
                      span= item
              tbody
                each item in info
                  tr
                    td= item.rigIP
                    - var cpuload =Number(/\d+.\d+/.exec(item.cpuload))
                    if cpuload < 2 && cpuload >0
                      td(class="alarm")= cpuload
                    else
                      td= cpuload
                    td= ((Date.now()-item.lastSeen)/1000).toFixed(0) + "s"
      div(id="page")
        p Rig Total: #{rigInfo.length}
        +card("Rig CPU Load List", rigInfo, "Rig IP", "CPU Load", "LastSeen")
        p Rig Total: #{rigInfo.length}
  footer
      div(class="text-muted")
         span 出品:
             a(target="_blank" href="http://www.cnpool.vip")
                span  空气池
