doctype html
html
  head
    meta(charset='utf-8' name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    meta(http-equiv="refresh" content="120")
    link(href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="//cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/default.css" rel="stylesheet")  
    style(type="text/css").
      .hostname {color:#0066cc;font-size: 22px;line-height: 50px;}
      h2 {color: #0066cc;font-size: 32px;}
  body
      mixin card(title, info, ...heads)
        div(class="card")
          div(id="top10miners" class="table-responsive")
            h2= title
            table(class="table table table-striped")
              thead
                tr
                  each item in heads
                    th(class="col2 sort")
                      span= item
              tbody
                each item in info
                  tr
                    each val in item
                      td(class="col2 sort")
                        if !isNaN(val)
                          - var shares=Number(val).toFixed(0)
                          span= shares
                        else
                          span= val
      div(id="page")
        h1  Rig CPU Load List
        +card("Active Accounts", cpuloadAll, "Rig IP", "CPU Load", "LastSeen")

    footer
      div(class="text-muted")
         span Powered by 
             a(target="_blank" href="http://www.cnpool.vip")
                i(class="fa fa-snowflake-o")
                span  www.cnpool.vip 泥巴池 
                i(class="fa fa-snowflake-o")
